<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.hunting.dao.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.hunting.domain.Company">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="full_name" property="fullName" />
        <result column="is_listed" property="isListed" />
        <result column="scale_level" property="scaleLevel" />
        <result column="type" property="type" />
        <result column="introduction" property="introduction" />
        <result column="register_capital" property="registerCapital" />
        <result column="corporate" property="corporate" />
        <result column="establish_date" property="establishDate" />
        <result column="img_path" property="imgPath" />
        <result column="industry_id" property="industryId" />
    </resultMap>

</mapper>
