<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.hunting.dao.EducationExperienceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.hunting.domain.EducationExperience">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="school_name" property="schoolName" />
        <result column="education" property="education" />
        <result column="major" property="major" />
        <result column="start_year" property="startYear" />
        <result column="end_year" property="endYear" />
        <result column="major_rank" property="majorRank" />
        <result column="introduction" property="introduction" />
    </resultMap>

</mapper>
