<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.hunting.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.hunting.domain.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="role_name" property="roleName" />
        <result column="status" property="status" />
        <result column="img_path" property="imgPath" />
        <result column="company_id" property="companyId" />
        <result column="education" property="education" />
        <result column="hometown" property="hometown" />
        <result column="introduce" property="introduce" />
        <result column="skill" property="skill" />
        <result column="interest" property="interest" />
        <result column="deliver_num" property="deliverNum" />
        <result column="star_num" property="starNum" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
